@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./spinner.css";

:root {
  --foreground-rgb: #4d4b4b;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #0ea5e9;
  --secondary-color: #aacb73;
  --primary-grey: #e5e7eb;
  --darker-grey: #4d4b4b;
  --tertiary-color: #4b0082;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #4d4b4b;
    --background-start-rgb: #4d4b4b;
    --background-end-rgb: #4d4b4b;
  }
}

.offcanvas__background {
  backdrop-filter: blur(5px);
}

.monospace {
  font-family: monospace;
}

.offcanvas {
  backdrop-filter: blur(3px);
}

.offcanvas nav a {
  color: white;
  font-family: monospace;
}

.notification {
  font-family: monospace;
}

.ratingform fieldset:not(.radio-group, .upload) label,
.commentform fieldset label,
.popover__form fieldset label {
  font-family: monospace;
  transition: all 0.35s ease;
  margin-bottom: -6px;
}

.ratingform fieldset:not(.radio-group, .checked-group, .upload) input:focus,
.ratingform fieldset:not(.radio-group, .checked-group, .upload) textarea:focus,
.commentform fieldset textarea:focus,
.popover__form fieldset input:focus,
.popover__form fieldset textarea:focus {
  outline: 0;
  box-shadow: 0px 0px 10px 1px var(--secondary-color);
}

.ratingform
  fieldset:not(.radio-group, .rating__input, .checked-group, .upload)
  input:focus
  ~ label,
.ratingform
  fieldset:not(.radio-group, .rating__input, .checked-group, .upload)
  textarea:focus
  ~ label,
.commentform fieldset textarea:focus ~ label,
.popover__form fieldset input:focus ~ label,
.popover__form fieldset textarea:focus ~ label {
  transform: translateY(-10px);
}

.ratingform fieldset.radio-group input:checked + label,
fieldset.checked-group input:checked + label {
  box-shadow: 0px 0px 10px 1px var(--secondary-color);
}

.ratingform fieldset.radio-group label,
fieldset.checked-group label {
  font-family: monospace;
  text-transform: lowercase;
}

.rating__input span:not(.marker),
.rating__container span:not(.marker) {
  background: white;
  color: var(--darker-grey);
  border: 1px solid var(--primary-grey);
  border-radius: 15px;
  padding: 0.2rem 0.7rem;
  width: fit-content;
  position: relative;
  font-family: monospace;
  transition: all 0.35s ease;
}

.rating__input input:focus ~ span.left {
  transform: translateX(-12px);
}

.rating__input input[type="range"]::-webkit-slider-runnable-track,
.rating__input input[type="range"]::-moz-range-track {
  background: var(--secondary-color);
}

.rating__input input[type="range"]:focus {
  outline: none;
  box-shadow: none !important;
}

.rating__input input[type="range"]:focus ~ span {
  box-shadow: 0px 0px 10px -2px var(--secondary-color);
}

.rating__input input:focus ~ span.right {
  transform: translateX(12px);
}

.MuiInputBase-input:focus ~ fieldset {
  border-color: var(--secondary-color) !important;
}

.MuiInputBase-root {
  height: 2.8rem;
  padding: 0 !important;
}

.MuiInputBase-input::placeholder {
  top: -2rem;
  position: relative;
}

.MuiFormLabel-root.Mui-focused {
  color: var(--tertiary-color) !important;
}

.swiper {
  box-shadow: 0 3px 12px -5px rgba(0, 0, 0, 0.8);
}

.swiper .swiper-slide img {
  width: 100%;
  height: 400px;
  max-height: 400px;
  object-fit: cover;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--secondary-color) !important;
}

.swiper .swiper-pagination-bullet {
  background: var(--tertiary-color) !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper .swiper-pagination {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

img.preview {
  box-shadow: 1px 6px 12px -6px rgba(0, 0, 0, 0.8);
}

.upload label,
.upload p {
  transition: all 0.35s ease !important;
}

.upload label:hover {
  box-shadow: 0px 0px 10px 1px var(--secondary-color);
}

.upload label:hover ~ p {
  transform: translateY(-10px);
}

body {
  color: #4d4b4b;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body main form input[type="text"],
body main form input[type="number"],
body main form textarea {
  padding: 0.2rem 0.5rem;
  outline: 0;
}

body main form input[type="text"]:focus,
body main form input[type="number"]:focus,
body main form textarea:focus {
  outline: 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

Marker {
  z-index: 10;
  cursor: pointer;
}

.mapboxgl-popup {
  color: black;
}

.mapboxgl-popup-content {
  padding: 1rem 1.5rem !important;
}

.mapboxgl-popup-close-button {
  font-size: 1rem;
  padding: 0.2rem;
  right: 0.35rem !important;
  border: none;
  outline: none;
}

.mapboxgl-popup-close-button:hover,
.mapboxgl-popup-close-button:focus {
  outline: none;
  border: none;
}

.mapboxgl-ctrl {
  position: relative;
  top: 0.5rem;
}

.mapboxgl-ctrl-geolocate {
  /* position: relative;
  top: 2rem !important; */
}

header label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
}

header label:hover,
header label:active,
header label:focus {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

header label span {
  background: var(--darker-grey);
  border-radius: 50%;
  height: 4px;
  width: 4px;
  transition: transform 0.125s ease-in, width 0.25s ease-in;
}

header.expanded label span:nth-of-type(1),
header.expanded label span:nth-of-type(9) {
  transform: rotate(45deg);
  transform-origin: center;
}

header.expanded label span:nth-of-type(3),
header.expanded label span:nth-of-type(7) {
  transform: rotate(-45deg);
  transform-origin: center;
}

header.expanded label span:nth-of-type(1),
header.expanded label span:nth-of-type(3),
header.expanded label span:nth-of-type(7),
header.expanded label span:nth-of-type(9) {
  width: 40px;
  border-radius: 3px;
}

header.expanded label span:nth-of-type(2),
header.expanded label span:nth-of-type(4),
header.expanded label span:nth-of-type(6),
header.expanded label span:nth-of-type(8) {
  opacity: 0;
}

svg.pin {
  filter: drop-shadow(0px 17px 5px rgba(0, 0, 0, 0.4));
}

.MuiAutocomplete-hasPopupIcon {
  backdrop-filter: blur(10px);
}

.MuiTab-root {
  color: var(--darker-grey) !important;
  border: 1px solid var(--primary-grey) !important;
  /* border-bottom: none !important */
  border-radius: 0.5rem !important;
  font-family: inherit !important;
}

.MuiTab-root[aria-selected="true"] {
  color: white !important;
}

.MuiTabs-indicator {
  background: var(--secondary-color) !important;
  height: 100% !important;
  z-index: -1;
  border-radius: 0.6rem !important;
}

.MuiTabs-flexContainer {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.moderation-wrapper button span {
  opacity: 0;
  transition: all 0.35s ease;
  bottom: -0.5rem;
}

.moderation-wrapper button:hover span {
  transform: translateY(15px);
  opacity: 1;
}
